[submodule "keyboard_layout"]
	path = keyboard_layout
	url = https://github.com/giao/keyboard_layout
[submodule "vicious"]
	path = vicious
	url = https://github.com/giao/vicious
[submodule "calendar"]
	path = calendar
	url = https://github.com/giao/calendar.git
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/giao/awesome-wm-widgets
